@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

button {
  color: #fff;
  border-radius: 5px !important;
  border: none;
  width: 100px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

input,
select {
  width: 100%;
  height: 40px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  // background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  outline: none;
}

input:disabled {
  background: #bdc3c7;
}

.navbar-light {
  background: rgb(238, 238, 238);
  box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider {
  .inner-slider {
    width: auto;

    button, div {
      display: flex;
      flex-direction: row;
    }

    button {
      background: #3498db;
    }
  }
}

.App {
  display: flex;
  justify-content: space-between;
  // background: #384b5c;

  .container {
    width: 100%;
    height: 93vh;
    // background: #384b5c;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-info-user {
      width: 80%;
      height: 90%;
      background: #384b5c;
      border-radius: 10px;
      box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .header {
        text-align: center;
        padding: 60px 0 30px 0;
        color: #fff;
      }

      .content > * {
        margin-top: 20px;
      }

      .content {
        .input-wrapper {
          display: flex;
          flex-direction: row;

          .inner > * {
            margin-bottom: 10px;
          }

          .inner {
            width: 100%;
            margin: 0 20px;

            .title-input {
              font-weight: 700;
              font-size: 13px;
              color: #fff;
            }
          }
        }
      }

      .footer > * {
        margin: 40px 20px;
      }

      .footer {
        display: flex;
        justify-content: center;
      }

      .error-message {
        text-align: center;
        color: #ef6b6b;
      }
    }
  }

  .container-table {
    width: 100%;
    height: 100%;
    background: #fff;
    // background: #384b5c;
    display: flex;
    justify-content: center;

    .table-result {
      width: 60%;
      background: #fff;
      margin-top: 38px;
      border-radius: 10px;
      box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .header {
        text-align: center;
        padding: 60px 0 30px 0;
      }

      .content > * {
        margin-top: 20px;
      }

      .content {
        .input-wrapper {
          display: flex;
          flex-direction: row;

          .loan > * {
            margin: 0 20px;
          }

          .loan {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px 20px 20px;
            border-radius: 5px;
            width: 100%;
            height: 50px;
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .info {
              display: flex;
              align-items: center;

              .name-user {
                font-weight: 700;
                padding-right: 10px;
              }

              .check {
                color: #2ecc71;
              }
            }
          }

          .not-loan > * {
            margin: 0 20px;
          }

          .not-loan {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px 20px 20px;
            border-radius: 5px;
            width: 100%;
            height: 50px;
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .info {
              display: flex;
              align-items: center;

              .name-user {
                font-weight: 700;
                padding-right: 10px;
              }

              .cancel {
                color: #e74c3c;
              }
            }
          }

          .inner>* {
            margin: 5px;
          }
        }
      }

      .footer > * {
        margin: 40px 20px;
      }
    }
  }

  .container-form-detail {
    display: flex;
    justify-content: center;

    .form-info-user {
      width: 100%;
      margin: 0 20px 20px 20px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .header {
        text-align: center;
        padding: 20px 0 30px 0;
      }

      .content > * {
        margin-top: 20px;
      }

      .content {
        margin-bottom: 15px;

        .collapse {
          display: block;
        }
      
        .collapse-in {
          display: none;
        }

        .input-wrapper {
          display: flex;
          flex-direction: row;

          .inner > * {
            margin-bottom: 10px;
          }

          .inner {
            width: 100%;
            margin: 0 20px;

            .title-input {
              font-weight: 700;
              font-size: 13px;
            }
          }
        }
      }

      .footer > * {
        margin: 40px 20px;
      }

      .error-message {
        text-align: center;
        color: red;
      }
    }
  }
}
